{% extends 'base/base.app.template.html'%}
{% load staticfiles %}
{% block title %}
    COORDINADOR
{% endblock title %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content modal-docente-content ">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">AGREGAR DOCENTES</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="modal-docente">
                        <div class="group-fila-cna">
                            <div class="group-campo campo-cedula">
                                <label for="{{ form.doc_cedula.name }}" class="label-campo">{{ form.doc_cedula.label }}</label>
                                {{ form.doc_cedula }}
                                <!-- <input type="text" id="doc_cedula" class="input-campo"> -->
                            </div>
                            <div class="group-campo campo-nombre-apellido">
                                <label for="{{ form.doc_nombres.name }}" class="label-campo">{{ form.doc_nombres.label }}</label>
                                {{ form.doc_nombres }}
                            </div>
                            <div class="group-campo campo-nombre-apellido">
                                <label for="{{ form.doc_apellidos.name }}" class="label-campo">{{ form.doc_apellidos.label }}</label>
                                {{ form.doc_apellidos }}
                            </div>
                        </div>
                        <div class="group-fila-tc">
                            <div class="group-campo campo-correo">
                                <label for="{{ form.doc_correo.name }}" class="label-campo">{{ form.doc_correo.label }}</label>
                                {{ form.doc_correo }}
                            </div>
                            <div class="group-campo campo-nombre-apellido">
                                <label for="{{ form.doc_telefono.name }}" class="label-campo">{{ form.doc_telefono.label }}</label>
                                {{ form.doc_telefono }}
                            </div>
                        </div>
                        
                    </div> 
                </div>
                <div class="modal-footer">
                    <button class="btn-agregar" type="submit"><i class="icon-btn fas fa-save"></i>GUARDAR</button>
                    <button class="btn-cerrar"  data-dismiss="modal" id="btn-cerrar"><i class="icon-btn fas fa-times"></i>CANCELAR</button>
                </div>
            </form>
          </div>
        </div>
    </div>
{% endblock modal %}

{% block menu_lateral %}
    <nav id="open-hide" class="sidebar" >
        <div class="sidebar-user">
            <img class="imagecood rounded-circle bg-white user-img mx-auto d-block p-1" src="{% static 'img/coordinador-perfil.png' %}" alt="">
            <div class="content-user-name">
                <p class="nomcood m-0 text-center">{{ user.last_name }}</p>
                <p class="nomcood m-0 text-center">{{ user.first_name }}</p>
            </div>
        </div>
        <ul class="list-unstyled">
            <li><a class="btn btn-block menu-item " href="{% url 'coordinador:homeCoordinador' %}">
                <i class="fas fa-home mx-2"></i> 
                <span class="mt">INICIO</span>                                       
            </a></li>
            <li><a class="btn btn-block menu-item" href="#">
                <i class="fas fa-file-invoice mx-2"></i>
                <span class="mt">PERIODOS</span>
            </a></li>
            <li><a class="btn btn-block menu-item" href="#">
                <i class="fas fa-calendar-alt mx-2"></i>
                <span class="mt">HORARIOS</span>
            </a></li>
            <li><a class="btn btn-block menu-item" href="#">
                <i class="fas fa-user-graduate mx-2"></i>
                <span class="mt">ESTUDIANTES</span>                    
            </a></li>
            <li><a class="btn btn-block menu-item active-menu-item" href="{% url 'coordinador:docentes' %}">
                <i class="fas fa-chalkboard-teacher mx-2"></i>
                <span class="mt">DOCENTES</span>                    
            </a></li>
        </ul>
    </nav>
{% endblock menu_lateral %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="message-{{ message.tags }} alert alert-warning alert-dismissible fade show content-error" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}
    <div class="content-docentes">
        <div class="docentes-top">
            <div class="content-btn-agregar">
                <span class="btn-agregar" id="btn-agregar" href="" data-toggle="modal" data-target="#exampleModalCenter"><i class="icon-btn fas fa-plus" ></i>AGREGAR</span>
            </div>
        </div>
        <div class="docentes-list-perfil">
            <div class="docentes-list">
                <table class="table-docente" id="table">
                    <thead class="docente-header">
                        <tr>
                            <th class="celdas-ocultas">Cedula</th>
                            <th class="celdas-ocultas">Nombres</th>
                            <th class="celdas-ocultas">Apellidos</th>
                            <th class="celdas-ocultas">Telefono</th>
                            <th class="celdas-ocultas">Correo</th>
                            <th class="celdas-ocultas">Estado</th>
                            <th class="column-cont">#</th>
                            <th class="header-title">APELLIDOS Y NOMBRES</th>
                        </tr>
                    </thead>
                    <tbody class="docente-body">
                        {% if object_list %}
                            {% for docente in object_list %}
                                <tr class="docente-row" id="docente-row">
                                    <td class="celdas-ocultas">{{ docente.doc_cedula }}</td>
                                    <td class="celdas-ocultas">{{ docente.doc_nombres }}</td>
                                    <td class="celdas-ocultas">{{ docente.doc_apellidos }}</td>
                                    <td class="celdas-ocultas">{{ docente.doc_telefono }}</td>
                                    <td class="celdas-ocultas">{{ docente.doc_correo }}</td>
                                    <td class="celdas-ocultas">{{ docente.doc_estado }}</td>
                                    <td class="column-cont">{{ forloop.counter }}</td>
                                    <td>{{ docente.doc_apellidos }} {{ docente.doc_nombres }}</td>
                                </tr>
                            {% endfor %} 
                        {% else %}
                            <h2>No hay registros de docentes</h2>
                        {% endif %}
                        
                    </tbody>
                </table>
            </div>
            <div class="docentes-perfil">
                <div class="perfil-username">
                    <div class="perfil-img">
                        <img class="img-docente" src="{% static 'img/docente-perfil.png' %}" alt="">
                    </div>
                    <div class="content-username">
                        <p id="apellidos" class="username-text"></p>
                        <p id="nombres" class="username-text"></p>
                    </div>
                </div>
                <div class="perfil-informacion">
                    <div class="campos-informacion">
                        <p class="informacion-campo">CEDULA</p>
                        <p id="cedula" class="campo-docente"></p>
                        <p class="informacion-campo">CORREO</p>
                        <p id="correo" class="campo-docente"></p>
                        <p class="informacion-campo">TELEFONO</p>
                        <p id="telefono" class="campo-docente"></p>
                    </div>
                    <div class="content-btn">
                        <a class="btn-editar" href=""><i class="icon-btn fas fa-pencil-alt"></i>EDITAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
            var cedulaLimpiar =  document.getElementById('doc_cedula');
            var nombresLimpiar =  document.getElementById('doc_nombres');
            var apellidosLimpiar =  document.getElementById('doc_apellidos');
            var telefonoLimpiar =  document.getElementById('doc_telefono');
            var correoLimpiar =  document.getElementById('doc_correo');
            var btnCerrar = document.getElementById('btn-cerrar');
            var btnAgregar = document.getElementById('btn-agregar');
        
            btnCerrar.addEventListener('click', ()=>{
                cedulaLimpiar.value = '';
                cedulaLimpiar.classList.add('box-shadow')
                nombresLimpiar.value = '';
                nombresLimpiar.classList.add('box-shadow')
                apellidosLimpiar.value = '';
                apellidosLimpiar.classList.add('box-shadow')
                telefonoLimpiar.value = '';
                telefonoLimpiar.classList.add('box-shadow')
                correoLimpiar.value = '';
                correoLimpiar.classList.add('box-shadow')
            });        
        </script>
        
        

{% endblock content %}



