{% extends 'base/base.app.estudiante.template.html'%}
{% load staticfiles %}
{% block title %}
    COORDINADOR
{% endblock title %}


{% block perfil-activo %} 
    active-menu-item
{% endblock perfil-activo %}

{% block content %}
    <div class="content-docentes-editar">
        <form method="post">
            {% csrf_token %}
            <div class="docentes-editar-top modal-header bg-perfil tb-30">
                <div class="perfil-username bg-perfil">
                    <div class="perfil-img">
                        {% if perms.universidad.Coordinador %}
                            <img class="img-docente" src="{% static 'img/coordinador-perfil.png' %}" alt="">
                        {% else %}
                            <img class="img-docente" src="{% static 'img/estudiante-perfil.png' %}" alt="">
                        {% endif %}
                        
                    </div>
                    <div class="content-username">
                        <p class="username-perfil">{{ user.last_name }} {{user.first_name}}</p>
                    </div>
                </div>
            </div>
            
                <div class="modal-body">
                    <div class="modal-docente">
                        <div class="group-fila-cna">
                            <div class="group-campo campo-cedula w-30">
                                <label for="id_old_password" class="label-campo">ANTIGUA CONTRASEÑA </label>
                                {{ form.old_password }}
                                {{ form.old_password.errors }}
                            </div>
                            <div class="group-campo campo-nombre-apellido w-30">
                                <label for="id_new_password1" class="label-campo">NUEVA CONTRASEÑA </label>
                                {{ form.new_password1 }}
                                {{ form.new_password1.errors }}
                            </div>
                            <div class="group-campo campo-nombre-apellido w-30">
                                <label for="id_new_password2" class="label-campo">CONFIRMAR CONTRASEÑA </label> 
                                {{ form.new_password2 }}
                                {{ form.new_password2.errors }}
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="modal-footer w-100">
                    <button class="btn-agregar" type="submit"><i class="icon-btn fas fa-save"></i>GUARDAR CAMBIOS</button>
                    <a href="{% url 'estudiante:perfil' %}" class="btn-cerrar" id="btn-cerrar"><i class="icon-btn fas fa-times"></i>CANCELAR</a>
                </div>
        </form>
    </div>

    

{% endblock content %}

