{% extends 'base/base.app.estudiante.template.html'%}
{% load staticfiles %}
{% block title %}
    COORDINADOR
{% endblock title %}

{% block asignaturas-activo %}
    active-menu-item
{% endblock asignaturas-activo %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="message-{{ message.tags }} alert alert-warning alert-dismissible fade show content-error" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}
    <div class="content-docentes-editar">
        <form method="post">
            
            {% csrf_token %}
            <div class="docentes-editar-top modal-header">
                <h5 class="modal-title">EDITAR SEGUIMIENTO</h5>
            </div>
            <div class="modal-body">
                <div class="modal-docente">
                    <div class="group-fila-cna">
                        <div class="group-campo w-50 ">
                            <span class="label-campo">ASIGNATURA</span>
                            <span class="input-campo">{{ object.asignatura.asi_nombre }}</span>
                        </div>
                        <div class="group-campo w-50 ml-10">
                            <span class="label-campo">DOCENTE</span>
                            <span class="input-campo">{{ object.docente }}</span>
                        </div>
                    </div>
                    <div class="group-fila-tc">
                        <div class="group-campo w-30">
                            <span class="label-campo">PERIODO</span>
                            <span class="input-campo">{{ object.periodo }}</span>
                        </div>
                        <div class="group-campo w-30">
                            <span class="label-campo">SEMESTRE</span>
                            <span class="input-campo">{{ object.semestre }}</span>
                        </div>
                        <div class="group-campo w-30">
                            <span class="label-campo">PARALELO</span>
                            <span class="input-campo">{{ object.seg_paralelo }}</span>
                        </div>
                    </div>
                    <div class="group-fila-cna jc-center mt-20">
                            <div class="group-campo w-20 mr-20">
                                <label for="{{ form.seg_fecha.name }}" class="label-campo">{{ form.seg_fecha.label }}</label>
                                <div class="input-group date">
                                    {{ form.seg_fecha }}
                                </div>
                            </div>
                            <div class="group-campo w-20 ml-10">
                                <label for="{{ form.seg_porcentaje_real.name }}" class="label-campo">{{ form.seg_porcentaje_real.label }}</label>
                                <div class="seg_porcentaje-content">
                                    {{ form.seg_porcentaje_real }}
                                    <span class="porcentaje-icon">%</span>
                                </div>
                            </div>
                            <div class="group-campo w-20 ml-10">
                                <label for="{{ form.seg_porcentaje_ideal.name }}" class="label-campo">{{ form.seg_porcentaje_ideal.label }}</label>
                                <div class="seg_porcentaje-content">
                                    {{ form.seg_porcentaje_ideal }}
                                    <span class="porcentaje-icon">%</span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="campo-mensaje">
                            {{ form.seg_observaciones }}
                        </div>
                    
                </div> 
            </div>
            <div class="modal-footer">
                <button class="btn-agregar" type="submit"><i class="icon-btn fas fa-save"></i>GUARDAR CAMBIOS</button>
                <a href="{% url 'estudiante:seguimientos' %}" class="btn-cerrar" id="btn-cerrar"><i class="icon-btn fas fa-times"></i>CANCELAR</a>
            </div>
        </form>
    </div>

    

{% endblock content %}

{% block scripts-opcionales %}
<script src="{% static 'lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js'%}"></script>
<script src="{% static 'lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js'%}"></script>
<script>
        var now = new Date();
        var start = new Date(now.getFullYear(), 0, 0);
        var diff = now - start;
        var oneDay = 1000 * 60 * 60 * 24;
        var day = Math.floor(diff / oneDay);
        var startdate = "-"+day+"d";
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            startDate: startdate,
            language: "es"
        });
</script>
{% endblock scripts-opcionales %}