{% extends 'base/base.app.coordinador.template.html'%}
{% load staticfiles %}
{% block title %}
    COORDINADOR
{% endblock title %}

{% block periodos-activo %}
    active-menu-item
{% endblock periodos-activo %}

{% block modal %}
{% endblock modal %}


{% block seguimiento-activo %}
    active-menu-item
{% endblock seguimiento-activo %}


{% block content %}
<div class="content-docentes">
    <div class="content-seguimiento">
        <div class="informacion-periodo">
            <span id="label-periodo"><strong>PERIODO:</strong> <span>{{curso_list.periodo}}</span></span>
            <span id="label-semestre"><strong>SEMESTRE:</strong> <span>{{curso_list.semestre}}</span></span>
            <span id="label-paralelo"><strong>PERALELO:</strong> <span>{{curso_list.cur_paralelo}}</span></span>
        </div>
        <div class="accordion" id="accordionExample">
            {% for horario in horario_list %}
                <div class="card w-100">
                    <div class="card-header bg-primary text-center" onclick="obtenerAsignatura(this);" id="heading{{ forloop.counter }}" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ asignatura.forloop.counter }}">
                        <h5 class="mb-0 blanco asignatura-title">{{ horario.asignatura.asi_nombre }}</h5>
                        <h6 class="mb-0 blanco asignatura-docente">{{ horario.docente }}</h6>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ asignatura.forloop.counter }}" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="card-body-top">
                                <div class="content-btn-agregar seguimiento-content-btn w-30">
                                </div>
                                <div class="content-info-seguimiento w-70">
                                    <div class="grupo-campo">
                                        <span class="grupo-campo-title"># SEMANA ACTUAL</span>
                                        <span class="grupo-campo-valor semana-actual bold"></span>
                                    </div>
                                    <div class="grupo-campo">
                                        <span class="grupo-campo-title">1ER. HEMI % TOTAL</span>
                                        <span class="grupo-campo-valor">
                                            <span id="porcentaje-primer-hemi-{{ forloop.counter }}" class="bold"></span>
                                            <span> / 800</span>
                                        </span>
                                    </div>
                                    <div class="grupo-campo">
                                        <span class="grupo-campo-title">2DO. HEMI % TOTAL</span>
                                        <span class="grupo-campo-valor">
                                            <span id="porcentaje-segundo-hemi-{{ forloop.counter }}" class="bold"></span>
                                            <span> / 800</span>
                                        </span>
                                    </div>
                                    <div class="grupo-campo">
                                        <span class="grupo-campo-title">% SEMANA ACTUAL</span>
                                        <span class="grupo-campo-valor">
                                            <span id="porcentaje-semana-actual-{{ forloop.counter }}" class="bold"></span>
                                            <span> / </span>
                                            <span class="porcentaje-semana-actual"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body-content">
                                <table class="table table-bordered" id="datos-{{ forloop.counter }}">
                                    <thead>
                                        <tr>
                                        <th class="text-center" scope="col">NUM. <br> SEMANA</th>
                                        <th scope="col">FECHA</th>
                                        <th class="text-center" scope="col">PORCENTAJE <br> REAL</th>
                                        <th class="text-center" scope="col">PORCENTAJE <br> IDEAL</th>
                                        <th scope="col">OBSERVACIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for seguimiento in seguimiento_list %}
                                            {% if seguimiento.asignatura.asi_nombre == horario.asignatura.asi_nombre %}
                                                <tr>
                                                    <th class="text-center filtro-semana" scope="row">{{seguimiento.seg_semana}}</th>
                                                    <td class="filtro-fecha">{{seguimiento.seg_fecha |date:'d/m/Y' }}</td>
                                                    <td class="text-center suma-por-real"><span>{{seguimiento.seg_porcentaje_real}}</span> %</td>
                                                    <td class="text-center suma-por-ideal"><span>{{seguimiento.seg_porcentaje_ideal}}</span> %</td>
                                                    <td>{{seguimiento.seg_observaciones}}</td>
                                                </tr>
                                            {% endif %}
                                                                                       
                                        {% endfor %}
                                        <tr>
                                            <th class="text-center filtro-semana bg-primary blanco" colspan="2" scope="row">AVANCE PORCENTUAL</th>
                                            <td class="text-center total-real"><span></span> %</td>
                                            <td class="text-center total-ideal"><span></span> %</td>
                                            <td></td>
                                        </tr>   
                                    </tbody>
                                </table>
                                
                            </div>
                            <div class="content-semana-filtro" style="display:none;">
                                    {% for seguimiento in seguimiento_list %}
                                        {% if seguimiento.asignatura.asi_nombre == horario.asignatura.asi_nombre %}
                                        <span>{{seguimiento.seg_semana}},</span>
                                        {% endif %}                                                    
                                    {% endfor %}
                                    </div>
                            <nav aria-label="..." class="content-pagination">
                                SEMANA
                                <ul class="pagination">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts-opcionales %}
<script>
    Date.prototype.getWeekNumber = function () {
        var d = new Date(+this);
        d.setHours(0, 0, 0, 0); 
        d.setDate(d.getDate() + 4 - (d.getDay() || 7)); 
        return Math.ceil((((d - new Date(d.getFullYear(), 0, 1)) / 8.64e7) + 1) / 7);
    };
    var pagination = document.getElementsByClassName('content-semana-filtro');
    var contentPagination = document.getElementsByClassName('pagination');
    var semanaActual = document.getElementsByClassName('semana-actual');
    var porcentajeSemanaActual = document.getElementsByClassName('porcentaje-semana-actual');
    var periodoInicio = "{{curso_list.periodo.per_inicio |date:'Y/m/d'}}";
    var periodoFin = "{{curso_list.periodo.per_fin |date:'Y/m/d'}}";
    var now = new Date();
    var strPagination = "";
    var arrayPagination = [];
    var horario = {};
    var busquedaTable = ""
    var porcentajePriHemiActual = "";
    var porcentajeSegHemiActual = "";
    var porcentajeSemanaActualSeguimiento = "";
    var diaActual = now.getDate();
    var mesActual = now.getMonth() + 1;
    var anioActual = now.getFullYear();

    {% for horario in horario_completo %}
        horario["{{horario.asignatura.asi_nombre}}"] = [];
    {% endfor %}
    {% for horario in horario_completo %}
        horario["{{horario.asignatura.asi_nombre}}"].push(["{{horario.hor_dia}}", "{{horario.hor_horas}}", "{{horario.asignatura.asi_num_creditos}}"]);
    {% endfor %}


    for(let i=0; i < pagination.length; i++){
        strPagination = "";
        for(let j=0; j < pagination[i].children.length; j++){
            strPagination += pagination[i].children[j].textContent;
        }
        arrayPagination.push(Array.from(new Set(strPagination.split(','))));
    }
    numSemanaValidado = omitirSemanaExamenes(now, periodoInicio);
    for (let i=0; i<semanaActual.length; i++) {
        semanaActual[i].textContent = numSemanaValidado;
        porcentajeSemanaActual[i].textContent = numSemanaValidado * 100;
    }
    for(let i=0; i < contentPagination.length; i++){
        for(let j=0; j < arrayPagination[i].sort((a,b)=>{return a - b}).length; j++){
            if (arrayPagination[i][j] != "") {
                var itemPagination = crearPaginationItem(arrayPagination[i][j], i);
                contentPagination[i].appendChild(itemPagination);
                if(itemPagination.children[0].getAttribute('id') == (i + "-" +arrayPagination[i][arrayPagination[i].length-1])){
                    itemPagination.children[0].checked = true;
                }
            }
        }
    }

    obtenerAsignatura = function(obj){
        porcentajePriHemiActual = obj.parentElement.getElementsByClassName('grupo-campo-valor')[1].children[0];
        porcentajeSegHemiActual = obj.parentElement.getElementsByClassName('grupo-campo-valor')[2].children[0];
        porcentajeSemanaActualSeguimiento = obj.parentElement.getElementsByClassName('grupo-campo-valor')[3].children[0];
        busquedaTable = obj.parentElement.children[1].children[0].children[1].children[0].getAttribute('id');
        itemsPagination = obj.parentElement.children[1].children[0].children[3].children[0].children;
        
        porcentajeRealTotal();

        for(let i=0; i < itemsPagination.length; i++){
            if(itemsPagination[i].children[0].checked == true){
                doSearchSemana(itemsPagination[i].children[1].textContent);
            }
            itemsPagination[i].addEventListener('click', ()=>{
                if(itemsPagination[i].children[0].checked == true){
                    doSearchSemana(itemsPagination[i].children[1].textContent);
                }
                avancePorcentual();
            });
        }

        avancePorcentual();
    }

    function doSearchSemana(semanaText)
    {
        var tableReg = document.getElementById(busquedaTable);
        var searchDate = semanaText;
        var cellsOfRow="";
        var found=false;
        var compareWith="";
        

        // Recorremos todas las filas con contenido de la tabla
        for (var i = 1; i < tableReg.rows.length-1; i++)
        {
            cellsOfRow = tableReg.rows[i].getElementsByClassName('filtro-semana');
            found = false;
            // Recorremos todas las celdas
            for (var j = 0; j < cellsOfRow.length && !found; j++)
            {
                compareWith = cellsOfRow[j].innerHTML;
                // Buscamos el texto en el contenido de la celda
                if (searchDate == "" || (searchDate == compareWith))
                {
                    found = true;
                }
            }
            if(found)
            {
                tableReg.rows[i].style.display = '';
            } else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }
    }

    function porcentajeRealTotal(){
        var table = document.getElementById(busquedaTable);
        var sumPorReal = 0.00;
        var arrayNumSemanasPrimerHemi = [0];
        var arrayNumSemanasSegundoHemi = [0];
        for(let i=0;i<table.rows.length-1;i++){
            var cellPorReal = table.rows[i].getElementsByClassName('suma-por-real');
            var cellSemana = table.rows[i].getElementsByClassName('filtro-semana');
            for(let k=0;k<cellPorReal.length;k++){
                var numSemana = cellSemana[k].textContent;
                var decimal = cellPorReal[k].children[0].textContent.split(",");
                var cell = decimal[0] +"."+ decimal[1];
                if (numSemana <= 8) {
                    arrayNumSemanasPrimerHemi.push(parseFloat(cell));
                } else {
                    arrayNumSemanasSegundoHemi.push(parseFloat(cell));
                }
            }
        }
        sumPorRealPrimerHemi = arrayNumSemanasPrimerHemi.reduce((a,b)=>{return a + b});
        sumPorRealSegundoHemi = arrayNumSemanasSegundoHemi.reduce((a,b)=>{return a + b});

        porcentajePriHemiActual.textContent = sumPorRealPrimerHemi;
        porcentajeSegHemiActual.textContent = sumPorRealSegundoHemi;
        porcentajeSemanaActualSeguimiento.textContent = sumPorRealPrimerHemi + sumPorRealSegundoHemi;
    }

    function avancePorcentual(){
        var table = document.getElementById(busquedaTable);
        var sumPorReal = 0.00;
        var sumPorIdeal = 0.00;
        var arrayNumSemanas = [];
        for(let i=0;i<table.rows.length-1;i++){
            if(table.rows[i].style.display != "none"){
                var cellPorReal = table.rows[i].getElementsByClassName('suma-por-real');
                var cellPorIdeal = table.rows[i].getElementsByClassName('suma-por-ideal');
                var cellSemana = table.rows[i].getElementsByClassName('filtro-semana');
                for(let k=0;k<cellPorReal.length;k++){
                    var decimal = cellPorReal[k].children[0].textContent.split(",");
                    var cell = decimal[0] +"."+ decimal[1];
                    var numSemanaPromedio = cellSemana[k].textContent;
                    sumPorReal += parseFloat(cell);
                    decimal = cellPorIdeal[k].children[0].textContent.split(",");
                    cell = decimal[0] +"."+ decimal[1];
                    sumPorIdeal += parseFloat(cell);
                    arrayNumSemanas.push(numSemanaPromedio);
                }
            }
        }
        contNumSemanas = new Set(arrayNumSemanas).size;
        if(!contNumSemanas){
            table.rows[table.rows.length-1].getElementsByClassName('total-real')[0].children[0].textContent = 0;
            table.rows[table.rows.length-1].getElementsByClassName('total-ideal')[0].children[0].textContent = 0;
        } else {
            table.rows[table.rows.length-1].getElementsByClassName('total-real')[0].children[0].textContent = Math.ceil(sumPorReal / contNumSemanas);
            table.rows[table.rows.length-1].getElementsByClassName('total-ideal')[0].children[0].textContent = Math.ceil(sumPorIdeal / contNumSemanas);
        }
    }

    function omitirSemanaExamenes(fecha, fechaIncioPeriodo){
        numSemana  = fecha.getWeekNumber() - new Date(fechaIncioPeriodo).getWeekNumber() + 1;
        if(numSemana == 9){
            return 0;
        } else if(numSemana > 9){
            return (numSemana - 1);
        } else {
            return numSemana;
        }
    }

    function crearPaginationItem(text, index){
        item = document.createElement('li');
        item.setAttribute('class', 'page-item item-semana');

        check = document.createElement('input');
        check.setAttribute('class', 'check-filtro');
        check.setAttribute('type', 'radio');
        check.setAttribute('name', (index +"-"+'pagination'));
        check.setAttribute('id', (index +"-"+ text));
        
        label = document.createElement('label');
        label.setAttribute('class', 'label-filtro');
        //label.setAttribute('for', text);
        label.textContent = text
        

        item.appendChild(check);
        item.appendChild(label);
        return item
    }


</script>
{% endblock scripts-opcionales %}