{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% static 'img/icon.svg' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <title>{% block title %}Titulo{% endblock title %}</title>

</head>
<body>
    
    <div class="row m-0">
        <div class="col-9 py-1 bg-primary"></div>
        <div class="col-3 py-1 bg-danger"></div>
    </div>
    <div class="wrapper">
        {% block modal %}
        {% endblock modal %}
        
        <nav id="open-hide" class="sidebar" >
            <div class="sidebar-user" id="sidebar-user">
                <img class="imagecood rounded-circle bg-white user-img mx-auto d-block p-1" src="{% static 'img/estudiante-perfil.png' %}" alt="">
                <div class="content-user-name">
                    <a class="menu-item-lateral btn btn-block menu-item {% block perfil-activo %} {% endblock perfil-activo %} link-perfil" href="{% url 'estudiante:perfil' %}">
                        <p class="nomcood m-0 text-center bg-transparent">{{ user.last_name }}</p>
                        <p class="nomcood m-0 text-center bg-transparent">{{ user.first_name }}</p>
                    </a>
                </div>
            </div>
            <ul class="list-unstyled">
                <li>
                    <a class="menu-item-lateral btn btn-block menu-item {% block inicio-activo %} {% endblock inicio-activo %}" href="{% url 'estudiante:homeEstudiante' %}">
                        <i class="fas fa-home mx-2"></i> 
                        <span class="mt">INICIO</span>                                       
                    </a>
                </li>                
                <li>
                    <a class="menu-item-lateral btn btn-block menu-item {% block seguimiento-activo %} {% endblock seguimiento-activo %}" href="{% url 'estudiante:seguimientos' %}">
                        <i class="fas fa-binoculars mx-2"></i>
                        <span class="mt">SEGUIMIENTO</span>                    
                    </a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid px-0">
            <nav class="navbar navbar-light bg-white p-0">
                <ul class="nav pull-left ">
                    <a id="open-hide-btn" class="nav-item mx-5 text-secondary">
                        <i class="h4 fas fa-bars icon-menu-bar"></i>
                    </a>
                    <span class="navbar-brand">
                        <h4 class="logo-title"><img class="icon-logo" src="{% static 'img/icon.svg' %}" alt=""><span>SYLAPP</span></h4>
                    </span>
                </ul>
                <ul class="nav pull-rigth">
                    <li class="nav-item">
                        <a href="{% url 'estudiante:mensajes' %}" class="nav-link">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </li>
                    <li class="nav-item item-popup">
                        <span class="nav-link">
                            <i class="fas fa-caret-down"></i>
                        </span>
                        <ul class="content-sub-menu">
                            <li ><a href="{% url 'estudiante:perfil' %}" class="item-subitem"><i class="fas fa-user-circle"></i>PERFIL</a></li>
                            <li><a href="{% url 'logout' %}" class="item-subitem"><i class="fas fa-sign-out-alt"></i>SALIR</a></li>
                        </ul>
                    </li>          
                </ul>
            </nav>
            <div class="content-app">
                {% block content %}
                {% endblock content %}
            </div>        
        </div>
    </div>
    <script src="{% static 'js/efectos.js' %}"></script>
    <script src="{% static 'js/validations.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    {% block scripts-opcionales %}
    
    {% endblock scripts-opcionales %}
</body>
</html>