{% extends 'base/base.app.coordinador.template.html'%}
{% load staticfiles %}
{% block title %}
    COORDINADOR - REPORTES
{% endblock title %}

{% block modal %}
{% endblock modal %}

{% block periodos-activo %}
    active-menu-item
{% endblock periodos-activo %}

{% block content %}


<div class="content-reportes">
    <p class="semana-reporte-title">SOLO SE MOSTRARÁN LAS SEMANAS CULMINADAS </p>
    {% for semana in semanas_list %}
       <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter-{{semana}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-{{semana}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle-{{semana}}">CONFIRMAR</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p class="p-mensaje"><i class="fas fa-check check-mensaje"></i>AL IMPRIMIR EL REPORTE DE LA SEMANA {{semana}}, TOME EN CONSIDERACIÓN QUE DICHA SEMANA NO PODRÁ SER MODIFICADA NI ELIMINADA.</p>
                        <p class="p-mensaje"><i class="fas fa-check check-mensaje"></i>AL HABILITAR LA EDICIÓN DE LA SEMANA 1 EL ESTUDIANTE PODRÁ MODIFICAR DICHA SEMANA.</p>
                    </div>
                    <div class="modal-footer modal-footer-query-conformation">
                        <button type="button" class="btn-cerrar" data-dismiss="modal"><i class="icon-btn fas fa-times"></i>CANCELAR</button>
                        <a class="btn-cerrar btn-query" href="{% url 'coordinador:habilitar' curso_list.id semana%}"><i class="icon-btn fas fa-check"></i>HABILITAR EDICIÓN</a>
                        <a class="btn-cerrar bg-primary" href="{% url 'coordinador:report' curso_list.id semana%}" target="blank" id="aceptar-{{semana}}"><i class="icon-btn far fa-file-pdf"></i>IMPRIMIR</a>
                    </div>
                </div>
                </div>
        </div>
        <div class="semana-content" data-toggle="modal" data-target="#exampleModalCenter-{{semana}}" onclick="contenedor(this);">
            <i class="far fa-file-pdf icon-pdf"></i>
            <p class="semana-class">SEMANA <span>{{semana}}</span> </p>
        </div>
    {% endfor %}
</div>

<script>
    var modal = "";
    var aceptar;
    
    contenedor = function(obj){
        modal = obj.children[1].children[0].textContent;
        aceptar = document.getElementById('aceptar-'+modal);
        aceptar.addEventListener('click', ()=>{
            cerrarModal();
        });
    }

    function cerrarModal(){
        $('#exampleModalCenter-'+modal).modal('hide');
    }
</script>

{% endblock content %}