{% extends 'base/base.app.coordinador.template.html'%}
{% load staticfiles %}
{% block title %}
    COORDINADOR
{% endblock title %}

{% block periodos-activo %}
    active-menu-item
{% endblock periodos-activo %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="message-{{ message.tags }} alert alert-warning alert-dismissible fade show content-error" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}
    <div class="content-docentes-editar">
        <form method="post">
            {% csrf_token %}
            <div class="docentes-editar-top modal-header">
                <h5 class="modal-title">AGREGAR ASIGNATURA A DOCENTE</h5>
            </div>
            <div class="modal-body">
                <div class="modal-docente">
                    <div class="group-fila-cna">
                        <div class="group-campo w-30">
                            <label for="{{ form.periodo.name }}" class="label-campo">{{ form.periodo.label }}</label>
                            {{ form.periodo }}
                        </div>
                        <div class="group-campo w-70">
                            <label for="{{ form.docente.name }}" class="label-campo">{{ form.docente.label }}</label>
                            {{ form.docente }}
                        </div>
                    </div>
                    <div class="group-fila-tc w-100">
                        <div class="group-campo w-100 alc-fs h-200 h-100">
                            <label for="{{ form.asignatura.name }}" class="label-campo">{{ form.asignatura.label }}</label>
                            {{ form.asignatura }}
                        </div>
                    </div>
                    
                </div> 
            </div>
            <div class="modal-footer">
                <button class="btn-agregar" type="submit"><i class="icon-btn fas fa-save"></i>GUARDAR</button>
                <a href="{% url 'coordinador:periodos' %}" class="btn-cerrar" id="btn-cerrar"><i class="icon-btn fas fa-times"></i>CANCELAR</a>
            </div>
        </form>
    </div>

    

{% endblock content %}
