html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Lato';
}

.row{
    height: 1%;
    width: 100%;
}


.wrapper{
    display: flex;
    align-items: stretch;
    height: 99%;
    margin: 0 0;
    padding: 0 0;
    z-index: 3;
}


.sidebar{
    min-width: 250px;
    max-width: 250px;
    background: #3E4149;
    color: #fff;
    box-shadow: 15px 0px 15px 0px rgba(0,0,0,0.15);
    z-index: 100;
    overflow: auto;
}

.container-fluid{
    background: #F6F6F6 url('../img/footerimg.png') no-repeat bottom;
    background-size: 100% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

/* -------------------
    CONTENT APP
------------------- */
.content-app {
    width: 100%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------
    INFO DE USUARIO
------------------- */

.sidebar-user{
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom: 2px solid #2d2f36;
}

.user-img{
    width: 50%;
}

.nomcood {
    font-size: 13px;
}

.content-user-name {
    padding-top: 1em;
    display: flex;
    justify-content: center;
}


/* -------------------
        MENU
------------------- */

.list-unstyled li{    
    margin: 10px;
}

.menu-item-lateral{    
    text-align: left;
    font-size: .8em;
    padding-left: 0.6em;
    color: rgba(255,255,255,0.5);
}

.list-unstyled li a i{    
    text-align: left;
    width: 50px;
    text-align: center;
    font-size: 2em;
}

.menu-item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5em 0;    
}

.menu-item:hover {
    background: #007bff;
    color: #fff;
    font-weight: bold;
    transition: .3s;
    
}

.menu-item.active-menu-item {
    background: #007bff;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}


/* -------------------
        NAVBAR
------------------- */

.nav {
    height: 100%;
}

.navbar{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
}

.nav-item {
    cursor: pointer;
}

.icon-menu-bar.fas {
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: center;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-brand{
    border-left: 1px solid rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 70%;
    height: 100%;
}

.logo-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
    margin: 0;
    font-weight: bold;
    padding-left: 50px;
    color: #3E4149;
}

.icon-logo {
    height: 60%;
    padding-right: 10px;
}

.pull-left {
    width: 80%;
}

.pull-rigth {
    width: 20%;
    justify-content: flex-end;
}




.navbar ul li{
    margin: 0 2em;
    border-left: 1px solid rgba(0,0,0,0.15);
}

.navbar ul li i{
    font-size: 1em;
    color: #3E4149;
}

.navbar .nav li{
    margin: 0 0;
    padding: 0px 0;
}

.navbar .nav li i{
    margin: 0 1em;
}

.navbar ul li a:hover{
    box-shadow: inset 0 -3px 0 #3E4149;
}

.navbar ul li button:hover{
    box-shadow: inset 0 -3px 0 #3E4149;
}

/* -------------------
        SHOW
------------------- */

.show-menu {
    min-width: 100px;
    max-width: 100px;
}

.show-menu .menu-item {
    text-align: center;
    justify-content: center;
}

.show-menu .sidebar-user{
    padding: 0 1em;
}

.show-menu .list-unstyled li a span{
    display: none;
}


.show-menu .sidebar-user,
.show-menu .sidebar-user .imagecood,
.show-menu .sidebar-user .nomcood,
.show-menu .sidebar-user .active-menu-item{
    
    display: none;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

/* -------------------
        DOCENTES
------------------- */

.content-docentes,
.content-docentes-editar {
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, .3);
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.content-docentes {
    width: 95%;
    height: 95%;
}

.content-docentes-editar {
    width: 80%;
}

.docentes-top {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #BCBCBC;
    display: flex;
    align-items: center;
}

.label-dar-baja {
    margin-bottom: 0;
    padding-right: 20px;
    font-weight: bold;
    font-size: .8em;
}

.group-dar-baja {
    display: flex;
    align-items: center;
}

.docentes-editar-top {
    width: 100%;
    border-bottom: 1px solid #BCBCBC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.docentes-list-perfil {
    width: 100%;
    height: 85%;
    display: flex;
}

.docentes-list {
    width: 45%;
    height: 100%;
}

.docentes-perfil {
    width: 55%;
    height: 100%;
    border-left: 1px solid #BCBCBC;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}


.perfil-username {
    background: #B95757;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.content-username {
    text-align: center;
    width: 100%;
    line-height: 1;
    padding-top: 10px;
}

.username-text {
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: bold;
}

.perfil-informacion {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    width: 100%;
    padding: 20px 0 20px 50px;
    align-content: space-between;
}

.informacion-campo {
    color: #9C9C9C;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.campo-docente {
    color: #2D2F36;
}

.table-docente {
    width: 100%;
}

.column-cont {
    padding-right: 2em;
}

.docente-header {
    width: 100%;
    display: inline-block;
    padding: 10px 0 10px 2em;
    color: #fff;
    background: #007bff;
}

.docente-body {
    width: 100%;
    display:  inline-block;
    color: #2D2F36;
}

.docente-row {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 0 10px 2em;
    border-bottom: 1px solid #BCBCBC;
}

.celdas-ocultas {
    display: none;
}

.docente-row{
    cursor: pointer;
    /* transition: all .1s ease-in-out; */
}
.docente-row:hover{
    background-color: #4495FF;
    color: #fff;
}

.hover-row {
    background-color: #4495FF;
    color: #fff;
}

.img-docente {
    display: block;
    width: 100%;
}

.perfil-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    border: 2px solid #fff;
}


.btn-editar,
.btn-agregar,
.btn-cerrar {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: all .3s ease;
    border: none;
}

.btn-editar {
    background: #F8A618;
}

.btn-cerrar {
    background: #F25D5D;
}

.btn-agregar {
    background: #6AC259;
}

.btn-editar:hover,
.btn-agregar:hover,
.btn-cerrar:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.05);
    font-weight: bold;
}

.content-btn-agregar {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2em;
}

.content-btn {
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-btn {
    padding-right: 10px;
}

/* -------------------
        MODAL DOCENTES
------------------- */

.modal {
    background: rgba(0, 0, 0, .7);
}

.modal-docente-content {
    width: 200em;
}

.modal-body,
.modal-header,
.modal-footer {
    padding: 15px 25px;
}

.modal-title {
    font-weight: bolder;
    font-size: 2em;
}

.modal-docente {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.group-campo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.group-fila-cna {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.label-campo {
    width: 100%;
    margin: 0;
    font-weight: bold;
    font-size: .8em;
}

.input-campo,
#id_old_password,
#id_new_password1,
#id_new_password2 {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #9C9C9C;
    padding: .5em 1em;
}


.campo-cedula {
    width: 18%;
}

.campo-correo {
    width: 59%;
}

.campo-nombre-apellido {
    width: 38%;
}

.group-fila-tc {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-error {
    position: absolute;
    z-index: 1000;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background: #F25D5D;
    color: #fff;
    border: none;
}

.box-shadow {
    box-shadow: none;
}

.message-success {
    background: #6AC259;
}

.message-error {
    background: #F25D5D;
}

/* Dar de baja stilo */
.campo-check {
    position: relative;
    width: 140px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #F25D5D;
    border-radius: 20px;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
}

.campo-check:checked {
    background: #6AC259;
}

.campo-check:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.campo-check:after {
    content: 'INACTIVO';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: 15px;
    font-size: .9em;
    font-weight: bold;
    color: #fff;
}

.campo-check:checked:before {
    left: 100px;
}

.campo-check:checked:after {
    content:'ACTIVO';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 15px;
    font-size: .9em;
    font-weight: bold;
    color: #fff;
}


/* MENSAJE DE NO HAY REGISTROS */
.content-vacio {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.no-hay-img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    line-height: 0;
    display: block;
}

.title-no-hay {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    line-height: 0;
}

/* Sub menu */

.sub-menu-item {
    font-weight: bold;
}

.dropdown-item:hover {
    font-weight: bold;
    color: #007bff;
}

.dropdown-menu {
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, .3);
}


/* Asignatura */
.campo-asi-codigo {
    width: 20%;
}

.campo-asi-carrera {
    width: 50%;
}

.campo-asi-semestre {
    width: 25%;
}

.campo-asi-nombre {
    width: 82%;
}

.campo-asi-num-creditos {
    width: 15%;
}

.list-asignatura {
    width: 100%;
}

.table {
    font-size: .8em;
}

.btn-asignatura {
    padding: 5px 15px;
    font-size: .8em;
}

.table-head-pro {
    color: #fff;
}


/* Buscar */

.input-buscar {
    border: none;
    background: transparent;
    width: 85%;
    padding-left: 20px;
    margin: 40px;
    border-bottom: 1px solid #BCBCBC;
    margin: 0;
    padding-bottom: 5px;
}

.icon-buscar {
    position: relative;
    left: -8%;
    padding: 0 5px 15px 5px;
    margin: 0;
    color: #BCBCBC;
    font-size: 1.4em;
    padding-bottom: 5px;
    background: #fff;
}

.content-info-seguimiento {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.errores-seguimiento {
    margin: 0;
    background: #F25D5D;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
    line-height: 1;
}

/* Mensajeria */
.campo-check-mul {
    width: 80%;
    overflow: auto;
    height: 70px;
    /* background: #000; */
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    margin-left: 3px;
    padding: 5px 20px;
    margin-bottom: 0;
}

.campo-check-mul li {
    list-style: none;
}

#asig_docentes {
    height: 100%;
}

.campo-check-mul li label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.campo-check-mul li input {
    width: 10px;
    height: 10px;
    margin-right: 10px;

}

.campo-remitente {
    width: 100%;
    display: flex;
}

.select-remitente {
    width: 80%;
}

.remitente-label,
.destinatario-label {
    width: 20%;
}

.campo-destinatario {
    width: 100%;
    display: flex;
    margin-top: 5px;
}

.group-fila-asunto {
    width: 100%;
}

.asunto {
    width: 20%;
}

.asunto-campo {
    width: 80%;
    margin-left: 3px;
}

.campo-asunto {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.campo-mensaje {
    width: 100%;
    margin-top: 10px;
}

.mensaje-content {
    width: 45%;
}

.mensaje-envio {
    width: 100%;
}


/* Peridos */

.container-peridos {
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}


.periodo-content {
    width: 45%;
    height: 50%;
    border: 1px solid #BCBCBC;
    border-left: none;
    border-bottom: none;
}

.cursos-content {
    width: 100%;
    height: 50%;
}

.docente-asignatura-content {
    
    width: 55%;
    height: 50%;
}

.title-label {
    font-size: 2em;
    padding-bottom: 20px;
    color: #fff;
    font-weight: bolder;
}

.periodo-title {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background: url('../img/fondo-periodo.jpg');
    /* background-position: center; */
    background-size: cover;
    position: relative;
    z-index: 0;
}

.periodo-title::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: -10;
}

.periodo-fechas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.fechas-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-periodo-descripcion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 30%;
}


.fecha-title {
    font-size: .9em;
    font-weight: bold;
}

.fecha-valor {
    font-size: .9em;
}

.content-buttom-ad,
.content-buttom-et {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-buttom-ad {
    justify-content: space-around;
    padding-right: 30px;
    font-size: .8em;
}

.content-button-et {
    padding-right: 10px;
    padding-bottom: 10px;
}

.btn-periodo {
    font-size: .7em;
    padding: 10px 15px;
    margin-left: 10px;
    text-decoration: none;
    color: #4495FF;
    transition: .3s all ease;
    font-weight: bold;
}

.blanco {
    color: #fff;
}

.verde {
    color: #6AC259;   
}

.rojo {
    color: #F25D5D;
}

.border {
    border: 1px solid #9C9C9C;
}

.btn-periodo:hover{
    text-decoration: none;
    color: #6AC259;
    transform: scale(1.1)
}

.blanco:hover {
    color: #fff;
}

.no-img-docente {
    width: 100px;
    height: 100px;
}

.w-10{
    width: 9%;
}

.w-30 {
    width: 29%;
}

.w-35 {
    width: 35%;
}

.w-65 {
    width: 65%;
}

.w-20 {
    width: 19%;
}

.w-70 {
    width: 69%;
}

.w-80 {
    width: 79%;
}

.w-100 {
    width: 100%;
}

.w-100 ul {
    width: 100%;
}

.h-200 {
    height: 200px;
}

.h-50 {
    height: 30px;
}

.h-20 {
    height: 20%;
}

.h-80 {
    height: 80%;
}

.h-100 {
    height: 100%;
}

.alc-fs {
    align-content: flex-start;
}

.jc-center {
    justify-content: center;
}

.ml-10 {
    margin-left: 10px;
}

.fl-start {
    justify-content: flex-end;
}

.margin-left {
    margin-left: 20px;
}

#id {
    visibility: hidden;
    position: absolute;
}

.table-wrapper-scroll-y {
    display: block;
    /* max-height: 200px; */
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
  
.text-just {
    text-align: justify;
    font-size: .8em;
    flex-direction: column;
}

.title-mensaje {
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
    color: #007bff;
}

.p-mensaje {
    margin: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    list-style: outside;
}

.check-mensaje {
    padding-right: 10px;
    color: #007bff;
}

/* ESTILOS SEGUIMIENTO */
.content-seguimiento {
    width: 100%;
    height: 100%;
}

.asignatura-title {
    font-weight: bold;
    /* font-size: .9em; */
}

.asignatura-docente {
    font-size: .7em;
}

/* Seguimiento estilos */

.card-header {
    cursor: pointer;
}

.card-body-content {
    margin: 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dee2e6;
}

.content-pagination {
    padding: 15px 10px 0 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

.content-pagination > ul {
    width: auto;
}

.pagination {
    margin: 0;
}

.item-semana {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    
}

.check-filtro {
    cursor: pointer;
}

.label-filtro {
    cursor: pointer;
    margin: 0;
    padding-left: 10px;
}

.check-filtro:checked ~ .label-filtro {
    font-weight: bold;
    color: #007bff;
}

.card-body-top {
    width: 100%;
    display: flex;
}

.seguimiento-btn-agregar {
    transform: scale(.8);
}

.seguimiento-btn-agregar:hover {
    transform: scale(.9);
}

.table-bordered{ 
    margin: 0;
}

.seguimiento-content-btn {
    margin: 0;
}

.table > tbody > tr > td {
    vertical-align: middle;
    padding: 5px 20px;
}

.table > thead > tr > th {
    vertical-align: middle;
    padding: 5px 20px;
}

.input-seg_asignatura {
    border: none;
    width: 100%;
}

.input-seg_asignatura:disabled {
    background: transparent;
    color: #2D2F36;
    
}

.content-input-seguimiento {
    display: flex;
    flex-wrap: wrap;
   
}

.seg_porcentaje-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.informacion-periodo {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.porcentaje-icon {
    margin-left: 20px;
    font-weight: bold;
}

.w-50 {
    width: 50%;
}

.mr-20 {
    margin-right: 20px;
}

.btn-acciones {
    display: inline-block;
    padding: 5px 15px;
    background: #000;
    color: #fff;
}

.content-acciones {
    display: flex;
    justify-content: center;
}

.btn-acciones-editar {
    background: #F25D5D;
    border-radius: 0 5px 5px 0;
}

.btn-acciones-eliminar {
    border-radius: 5px 0 0 5px;
    background: #F8A618;
}

.btn-acciones:hover {
    color: #fff; 
}

.btn-acciones-editar:hover {
    background: rgb(207, 83, 83);
}

.btn-acciones-eliminar:hover {
    background: rgb(218, 146, 22);
}

.mt-20{
    margin-top: 20px;
}

/* Horarios estilo */
.curso-info-horario {
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
}

/* Horario crear estilos */
.container-horario {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    align-content: space-between;
}

.content-horario-top {
    width: 100%;
    height: 30%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
}


.content-horario-body {
    width: 100%;
    height: 60%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
}

.content-horario-body-dias {
    width: 19%;
    background: #fff;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.content-botones-formulario {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 7px 10px;
    align-items: center;
}

.content-horario-top-asignatura {
    width: 58%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .2);
    display: flex;
}

.content-horario-top-dias {
    width: 40%;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .2);
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.content-horario-body-dias-header {
    height: 10%;
    background: #007bff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.content-horario-top-botones  {
    width: 7%;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .2);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
}

.content-horario-asignatura {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px;
    width: 75%;
    height: 100%;
    align-content: space-around
}

.content-horario-dias {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px 15px 0;
    width: 25%;
    height: 100%;
    align-content: space-around
}

.btn-dias {
    background: #007bff;
    color: #fff;
    font-weight: bold;
    width: 100%;
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease all;
}

.btn-dias:hover {
    transform: scale(1.1);
}

.num-creditos-asignatura {
    font-weight: bold;
    width: 100%;
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 2em;
    margin: 0;
}

.content-horario-top-dias-acciones {
    background: #000;
}

.btn-content {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 0;
    padding: 0;
}

.btn-agregar.btn-content:hover {
    background: rgb(90, 165, 75);
    transform: none;
}

.btn-cerrar.btn-content:hover {
    background: #B95757;
    transform: none;
}

.p-0 {
    padding: 0;
}

/* modal horarios estilo */
.header-modal-dias {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.content-num-creditos-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #007bff;
    border: 1px solid #007bff;
    font-size: .6em;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

#modal-num-creditos {
    font-size: 2em;
}

.title-modal-header { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    align-items: flex-start;
}

.modal-docente {
    margin: 0;
}

.modal-asignatura {
    font-weight: bold;
    margin: 0;
}

.content-num-dias-semana,
.content-num-horas {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content-num-horas {
    width: 25%;
}

.input-dias {
    width: 30%;
}

.dia-content-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.dias-select {
    width: 50%;
}

.label-dia {
    display: inline-block;
    padding: 5px 20px;
}

.z-index {
    z-index: 1000000;
}

/* Horario tabla estilos */
.content-horario-body-dias-rows {
    overflow: auto;
    height: 90%;
}

.horario-asignatura-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid #9C9C9C;
}

.asignatura-cell {
    font-size: .8em;
    font-weight: bold;
}

.docentes-cell, .horas-cell {
    font-size: .7em;
}

.num-hora {
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 5px;
}

.dias-asignados-row {
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid #9C9C9C;
    font-size: .8em;
}

.asignatura-dias-asignados {
    width: 95%;
}

.eliminar-dias-asignados{
    width: 5%;
}

.dias-asignados-rows {
    width: 100%;
    height: 80%;
    overflow: auto;
}

.header {
    background: #007bff;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    height: 20%;
}

.eliminar-dias-asignados {
    color: #F25D5D;
    cursor: pointer;
    transition: .3s ease all;
}

.eliminar-dias-asignados:hover {
    transform: scale(1.1);
}

.transparent {
    background: transparent;
}

/* historial estilos  */
.content-historial {
    width: 90%;
    height: 30%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-item-historial {
    width: 23%;
    height: 90%;
    background: #3E4149;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .3);
    transition: .3s ease all;
}

.content-item-historial:hover {
    background: #007bff;
    font-weight: bold;
    transform: scale(1.1);
    text-decoration: none;
}

.img-item-historial {
    width: 100%;
    font-size: 4em;
    text-align: center;
    color: #fff;
}

.title-item-historial{
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    color: #fff;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

/* Index estilo */
.content-index {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}
 .content-unidad-academica {
    width: 100%;
    height: 58%;
    background: url('../img/index-fondo.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .title-unidad-academica {
    color: #fff;
    font-weight: bold;
    margin: 0;
    text-align: center;
 }

.abreviatura-unidad-academica {
    color: #fff;
    font-size: 2em;
    padding-bottom: 10px;
}

 .content-carrera {
    width: 100%;
    height: 40%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .2);
    overflow: hidden;
 }




#usuario_destinatario {
    height: 150px;
}

/* Sub menu usuario */

.item-popup {
    position: relative;
}

.item-popup:hover .content-sub-menu{
    display: block;
}

.navbar ul li.item-popup a:hover {
    box-shadow: none;
}


.content-sub-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    color: #fff;
    background: #007bff;
    margin: 0;
    padding: 0;
    width: 300%;
    box-shadow: -3px 3px 5px 2px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0,0,0,.2);
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
}

.content-sub-menu::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    background:#007bff;
    top: -7px;
    left: 80%;
    transform: rotate(45deg);
    border-left: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(0,0,0,.2);
}

.navbar ul li a.item-subitem {
    padding: 10px 50px;
    border: none;
    color: #fff;
    display: inline-block;
    width: 100%;
}

.navbar ul li a.item-subitem:hover {
    background: #fff;
    color: #007bff;
    text-decoration: none;
}


.navbar ul li a.item-subitem i {
    color: #fff;
    margin-left: 0;
    
}

.navbar ul li a.item-subitem:hover i {
    background: #fff;
    color: #007bff;
}

.bg-perfil {
    background: #B95757;
}

.username-perfil {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0;
}

.tb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.link-perfil {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.link-perfil:hover {
    color: #fff;
    background: #007bff;
    text-decoration: none;
}

/* Seguimiento validacion estilos  */

.grupo-campo {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.grupo-campo-title {
    width: 100%;
    font-size: .7em;
    text-align: center;
    font-weight: bold;
}

.grupo-campo-valor {
    text-align: center;
    padding: 5px 15px;
    background: #2D2F36;
    border-radius: 5px;
    color: #fff;
}

.bold {
    font-weight: bold;
}