{% extends "base/base.template.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/recuperar.css' %}">
<div class="container-fluid bg p-0">        
    <nav class="navbar py-2">
        <a class="navbar-brand mx-auto d-block" href="#">
            <img class="logo mx-auto d-block" src="{% static 'img/logo-white.png' %}" alt="">
        </a>
    </nav>
    <div class="container py-5">
        <div class="row py-5">                
            <h2 class="text-center py-3">Recuperar Contraseña</h2>
            <p class="text-center w-75">Para reajustar su contraseña,
                envíe su dirección de correo electrónico. 
                Si podemos encontrarlo en la base de datos, 
                le enviaremos un email con instrucciones para 
                poder acceder de nuevo.</p>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group text-center">
                <div class="d-flex justify-content-center">
                    <div class="input-group w-70 center">
                        {{ form.email }}                        
                    </div>
                </div>
                <button type="submit" class="btn my-5">Enviar</button>
            </div>
        </form>                      
    </div>
</div>
{% endblock content %}