{% extends "base/base.template.html" %}
{% load staticfiles %}

{% block title %}
    RECUPERAR CONTRASEÑA
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/recuperar.css' %}">

<div class="bg p-0">
        <div class="container-fluid p-0 h-100">
            <nav class="navbar py-2">
                <a class="navbar-brand mx-auto d-block" href="#">
                    <img class="logo mx-auto d-block"  src="{% static 'img/logo-white.png' %}" alt="">
                </a>
            </nav>
            <div class="container d-flex justify-content-center align-items-center h-75 flex-column">
                <div class="display-4 px-3 text-center align-middle">                                        
                    <b>Se ha enviado un correo para reestablecer su contraseña</b>
                </div>                
            </div>            
        </div>               
    </div>
{% endblock content %}  