{% extends "base/base.template.html" %}
{% load staticfiles %}

{% block title %}
    RECUPERAR CONTRASEÑA
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/recuperar.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<div class="bg p-0">
        <div class="container-fluid p-0 h-100">
            <nav class="navbar py-2">
                <a class="navbar-brand mx-auto d-block" href="#">
                    <img class="logo mx-auto d-block" src="{% static 'img/logo-white.png' %}" alt="">
                </a>
            </nav>
            <div class="d-flex justify-content-center align-items-center h-75 flex-column">
                <h2 class="display-4 px-3">
                    <i class="info fas fa-info-circle"></i>
                    <b>Contraseña Reestablecida</b>
                </h2>
                <a class="btn btn-primary m-5" href="{% url 'login' %}">Iniciar sesion</a>                
            </div>            
        </div>               
    </div>
{% endblock content %}