{% extends 'base/base.app.coordinador.template.html'%}
{% load staticfiles %}
{% block title %}
    COORDINADOR
{% endblock title %}

{% block docentes-activo %}
    active-menu-item
{% endblock docentes-activo %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="message-{{ message.tags }} alert alert-warning alert-dismissible fade show content-error" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}
    <div class="content-docentes-editar">
        <form method="post">
            {% csrf_token %}
            <div class="docentes-editar-top modal-header">
                <h5 class="modal-title">EDITAR ESTUDIANTE</h5>
                <div class="group-dar-baja">
                    <label for="{{ form.alu_estado.name }}" class="label-dar-baja">{{ form.alu_estado.label }}</label>
                    {{ form.alu_estado }}
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-docente">
                    <div class="group-fila-cna">
                        <div class="group-campo campo-cedula">
                            <span class="label-campo">CÉDULA</span>
                            <span class="input-campo">{{ object.usuario.username }}</span>
                        </div>
                        <div class="group-campo campo-nombre-apellido">
                            <label for="{{ form2.first_name.name }}" class="label-campo">{{ form2.first_name.label }}</label>
                            {{ form2.first_name }}
                        </div>
                        <div class="group-campo campo-nombre-apellido">
                            <label for="{{ form2.last_name.name }}" class="label-campo">{{ form2.last_name.label }}</label>
                            {{ form2.last_name }}
                        </div>
                    </div>
                    <div class="group-fila-tc">
                        <div class="group-campo campo-correo">
                            <label for="{{ form2.email.name }}" class="label-campo">{{ form2.email.label }}</label>
                            {{ form2.email }}
                        </div>
                        <div class="group-campo campo-nombre-apellido">
                            <label for="" class="label-campo">PERMISOS</label>
                            <span class="input-campo">ESTUDIANTE</span>
                        </div>
                    </div>
                    <div class="group-fila-tc">
                        <div class="group-campo campo-nombre-apellido w-100">
                            <label for="{{ form.carrera.name }}" class="label-campo">{{ form.carrera.label }}</label>
                            {{ form.carrera }}
                        </div>
                    </div>
                    
                </div> 
            </div>
            <div class="modal-footer">
                <button class="btn-agregar" type="submit"><i class="icon-btn fas fa-save"></i>GUARDAR CAMBIOS</button>
                <a href="{% url 'coordinador:estudiantes' %}" class="btn-cerrar" id="btn-cerrar"><i class="icon-btn fas fa-times"></i>CANCELAR</a>
            </div>
        </form>
    </div>

    

{% endblock content %}

{% block scripts-opcionales %}
    <script src="{% static 'js/popper.min.js' %}"></script>
    
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
    </script>
{% endblock scripts-opcionales %}
