{% extends 'base/base.app.coordinador.template.html'%}
{% load staticfiles %}
{% block title %}
    HISTORIAL - PERIODO
{% endblock title %}

{% block modal %}
<div class="modal fade" id="exampleModalCenterReportes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitleReportes" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitleReportes">REPORTES</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body modal-reportes">
                <a class="btn-cerrar bg-primary mlrtb-5" href="{% url 'coordinador:historial_report_estudiante' periodos_list.0.id %}" target="blank"><i class="icon-btn far fa-file-pdf " ></i>ESTUDIANTES</a>
                <a class="btn-cerrar bg-primary mlrtb-5" href="{% url 'coordinador:historial_periodo_reporte_mensual' periodos_list.0.id %}"><i class="icon-btn far fa-file-pdf " ></i>SEGUIMIENTO MENSUAL</a>
            </div>
            <div class="modal-footer">
                    <button class="btn-cerrar"  data-dismiss="modal" id="btn-cerrar"><i class="icon-btn fas fa-times"></i>CANCELAR</button>

                
            </div>
          </div>
        </div>
      </div>
{% endblock modal %}

{% block historial-activo %}
    active-menu-item
{% endblock historial-activo %}

{% block content %}
    <div class="content-docentes">
        <div class="docentes-top content-buttom-ad fl-start">
            <button type="button" class="btn-cerrar mr-10 btn-query-top" data-toggle="modal" data-target="#exampleModalCenterReportes"><i class="icon-btn far fa-file-pdf " ></i>REPORTES</button>
        </div>
        <div class="docentes-list-perfil container-peridos">
            {% if periodos_list %}
                <div class="periodo-content">
                    <div class="periodo-title">
                        <span class="title-label">{{ periodos_list.0.per_nombre }}</span>
                    </div>
                    <div class="content-periodo-descripcion">
                        <div class="periodo-fechas">
                            <div class="fechas-content">
                                <span class="fecha-title verde">INICIO</span>
                                <span class="fecha-valor">{{ periodos_list.0.per_inicio|date:'d F Y' |upper }}</span>
                            </div>
                            <div class="fechas-content">
                                <span class="fecha-title rojo">FIN</span>
                                <span class="fecha-valor">{{ periodos_list.0.per_fin|date:'d F Y'|upper }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="periodo-content border">
                    <div class="content-vacio">
                        <img class="no-hay-img no-img-docente" src="{% static 'img/no-hay.png' %}" alt="">
                        <h2 class="title-no-hay">NO HAY PERIODOS ACTIVOS.</h2>
                    </div>
                </div>
            {% endif %}

            {% if docentes_asingaturas_list %}
            <div class="docente-asignatura-content table-wrapper-scroll-y">
                <table class="table">
                    <thead class="bg-primary blanco">
                        <tr>
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col">DOCENTE</th>
                        <th class="text-center" scope="col">ACCIÓN</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for docente in docentes_asingaturas_list %}
                            <tr>
                                <td></td>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{docente.docente}}</td>
                                <td class="text-center">
                                    <a class="btn-editar btn-asignatura bg-primary" href="{% url 'coordinador:historial_docentes_asignaturas' docente.id %}"></i>MOSTRAR</a>
                                </td>
                                <td></td
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <div class="docente-asignatura-content">
                    <div class="content-vacio border">
                        <img class="no-hay-img no-img-docente" src="{% static 'img/no-hay.png' %}" alt="">
                        <h2 class="title-no-hay">NO HAY DOCENTES EN EL PERIODO.</h2>
                    </div>
                </div>
            {% endif %}

            {% if cursos_list %}
                <div class="cursos-content table-wrapper-scroll-y">
                    <table class="table table-striped">
                        <thead class="bg-primary blanco">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">#</th>
                                <th scope="col">ESTUDIANTE</th>
                                <th scope="col">CARRERA</th>
                                <th class="text-center" scope="col">SEMESTRES</th>
                                <th class="text-center" scope="col">PARALELO</th>
                                <th class="text-center" scope="col">ACCIÓN</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for curso in cursos_list %}
                                <tr>
                                    <td></td>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{curso.alumno}}</td>
                                    <td>{{curso.alumno.getCarrera}}</td>
                                    <td class="text-center">{{curso.semestre}}</td>
                                    <td class="text-center">{{curso.cur_paralelo}}</td>
                                    <td class="text-center">
                                        <a class="btn-editar btn-asignatura bg-primary" href="{% url 'coordinador:historial_periodo_horario' curso.id %}"></i>HORARIO</a>
                                        <a class="btn-editar btn-asignatura bg-success " href="{% url 'coordinador:historial_seguimiento' curso.id %}"></i>SEGUIMIENTO</a>
                                        <a class="btn-editar btn-asignatura bg-dark " href="{% url 'coordinador:historial_periodo_reporte' curso.id %}"></i>REPORTES</a>
                                    </td>
                                    <td></td
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="cursos-content border">
                    <div class="content-vacio">
                        <img class="no-hay-img no-img-docente" src="{% static 'img/no-hay.png' %}" alt="">
                        <h2 class="title-no-hay">NO HAY ESTUDIANTES EN EL PERIODO.</h2>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <script>
            var cedulaLimpiar =  document.getElementById('asi_codigo');
            var telefonoLimpiar =  document.getElementById('asi_nombre');
            var correoLimpiar =  document.getElementById('asi_num_creditos');
            var btnCerrar = document.getElementById('btn-cerrar');
            var btnAgregar = document.getElementById('btn-agregar');
        
            btnCerrar.addEventListener('click', ()=>{
                cedulaLimpiar.value = '';
                cedulaLimpiar.classList.add('box-shadow')
                telefonoLimpiar.value = '';
                telefonoLimpiar.classList.add('box-shadow')
                correoLimpiar.value = '';
                correoLimpiar.classList.add('box-shadow')
            });  
        </script>
    
{% endblock content %}

{% block scripts-opcionales %}
<script src="{% static 'lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js'%}"></script>
<script src="{% static 'lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js'%}"></script>
<script>
        var now = new Date();
        var start = new Date(now.getFullYear(), 0, 0);
        var diff = now - start;
        var oneDay = 1000 * 60 * 60 * 24;
        var day = Math.floor(diff / oneDay);
        var startdate = "-"+day+"d";
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            startDate: startdate,
            language: "es"
        });
</script>
{% endblock scripts-opcionales %}