{% extends 'base/base.app.coordinador.template.html'%}
{% load staticfiles %}
{% block title %}
    HISTORIAL - PERIODOS
{% endblock title %}

{% block modal %}
{% endblock modal %}

{% block historial-activo %}
    active-menu-item
{% endblock historial-activo %}

{% block content %}
    <div class="content-docentes">
        <div class="docentes-top alinear-derecha">
            <div class="content-search">
                <input class="input-buscar" id="searchTerm" type="text" onkeyup="convertirMayuscula(this); doSearch(); " placeholder="BUSCAR..."><i class="icon-buscar fas fa-search"></i>
            </div>
            </div>
        <div class="docentes-list-perfil">
            {% if object_list %}
            <div class="docentes-list list-asignatura table-wrapper-scroll-y">
                <table class="table table-striped" id="datos">
                    <thead class="bg-primary table-head-pro">
                        <tr class="row-pro">
                            <th scope="col"></th>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">FECHA DE INICIO</th>
                            <th scope="col">FECHA DE FIN</th>
                            <th scope="col" class="text-center">ACCIÓN</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for periodo in object_list %}
                                <tr>
                                    <td></td>
                                    <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                    <td>{{ periodo.per_nombre }}</td>
                                    <td>{{ periodo.per_inicio }}</td>
                                    <td>{{ periodo.per_fin }}</td>
                                    <td class="text-center">
                                        <a class="btn-editar btn-asignatura" href="{% url 'coordinador:historial_periodo' periodo.id %}">VER DETALLE</a>
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %} 
                        
                        
                    </tbody>
                </table>
            </div>

            {% else %}
                <div class="content-vacio">
                    <img class="no-hay-img" src="{% static 'img/no-hay.png' %}" alt="">
                    <h2 class="title-no-hay">NO HAY PERIODOS.</h2>
                </div>
            {% endif %}
        </div>
    </div>

    <script>
            function doSearch()
            {
                var tableReg = document.getElementById('datos');
                var searchText = document.getElementById('searchTerm').value.toUpperCase();
                var cellsOfRow="";
                var found=false;
                var compareWith="";
     
                // Recorremos todas las filas con contenido de la tabla
                for (var i = 1; i < tableReg.rows.length; i++)
                {
                    cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                    found = false;
                    // Recorremos todas las celdas
                    for (var j = 0; j < cellsOfRow.length && !found; j++)
                    {
                        compareWith = cellsOfRow[j].innerHTML.toUpperCase();
                        // Buscamos el texto en el contenido de la celda
                        if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1))
                        {
                            found = true;
                        }
                    }
                    if(found)
                    {
                        tableReg.rows[i].style.display = '';
                    } else {
                        // si no ha encontrado ninguna coincidencia, esconde la
                        // fila de la tabla
                        tableReg.rows[i].style.display = 'none';
                    }
                }
            }
        </script>
        

{% endblock content %}
